:root {
    --black: #000000;
    --white: #ffffff;
    --text-color: var(--black);
    --outline-color: rgba(255,0,0,.6);
    --bg-color: var(--white);
    --hover-color: red;
    --hover-text: var(--bg-color);
    --dark-gray: #374151;
    --dk-lgt-gray: #6b7280;
    --gray: #9ca3af;
    --off-gray: #f9fafb;
    --lgt-gray: #d1d5db;
    --header-color: var(--white);
    --input-svg: var(--gray);
    --input-bg: var(--bg-color);
    --input-border: var(--lgt-gray);
    --btn-border: var(--input-border);
    --btn-bg: var(--off-gray);
    --btn-color: var(--dark-gray);
    --placeholder-color: #dfdddd;
    --movie-stats-color: var(--dark-gray);
    --movie-description-color: var(--dk-lgt-gray);
    --movie-border: var(--lgt-gray);
    --font-family: 'Inter', sans-serif;
    
    /* dark mode colors */
    --dark-bg: #121212;
    --dark-placeholder-color: #787878;
    --dark-input: #2e2e2f;
    --dark-button: #4b4b4b;
    --dark-svg: #9ca3af;
    --dark-descr: #a5a5a5;
    --dark-movie-border: #2c2c2c;
    
    /* loader styles */
    --hue: 0;
    --size: 100px;
    --border: 10px;
    --speed: 1s;
    --blur: var(--border);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: var(--dark-bg);
        --text-color: var(--white);
        --movie-stats-color: var(--white);
        --input-bg: var(--dark-input);
        --input-svg: var(--dark-svg);
        --input-border: var(--input-bg);
        --btn-bg: var(--dark-button);
        --btn-color: var(--white);
        --btn-border: var(--btn-bg);
        --hover-text: var(--white);
        --placeholder-color: var(--dark-placeholder-color);
        --movie-description-color: var(--dark-descr);
        --movie-border: var(--dark-movie-border);
        --outline-color: rgba(255,255,255,.6);
    }
}

*::selection {
    background: var(--text-color);
    color: var(--bg-color);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    outline-color: var(--outline-color) !important;
}

html {
  scroll-behavior: smooth;
}

html, body,h1,h2,a,p {
    margin: 0;
    padding: 0;
}

body {
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: var(--font-family);
    font-size: clamp(.75rem, 15vw, 1rem);
    line-height: 1.25;
}

img {
    max-width: 100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover,
a:focus {
    text-decoration: underline;
    text-underline-offset: .125em;
}

input[type="search"] { border: none; }

label { cursor: pointer; }

h1 {
    font-size: clamp(2rem, 10vw, 2.75rem);
    font-weight: 900
}

h2 {
    font-size: 1.125rem;
    font-weight: 500;
}

p {
    font-size: .875rem;
}

.container {
    width: 90%;
    margin-inline: auto;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.display-none { display:none !important; }

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: clamp(200px, 40dvh, 400px);
    color: var(--header-color);
    background: var(--black);
    font-weight: 700;
    
    .container {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        z-index: 1;
    }
    
    .bg-wrapper {
        position: absolute;
        inset: 0;
        z-index: 0;
    }
    
    & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: .2;
    }
}

main {
    position: relative;
    background: var(--bg-color);
    color: var(--text-color);
    z-index: 3;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 30rem;
    margin-block-end: 3.75em;
    
    .container {
        position: relative;
        flex-grow: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    & form {
        width: 100%;
    }
    
    .searchbar-wrapper {
        position: absolute;
        inset: 0 0 auto;
        display: flex;
        margin-block-start: calc(38px / 2 * -1);
        align-items: stretch;
        width: 100%;
        height: 38px;
        /* border: 1px solid var(--lgt-gray); */
        border-radius: .325em;
        /* overflow: hidden; */
        background: var(--input-bg);
    }
    
    .search-input-wrapper svg {
        color: var(--input-svg);
        margin-inline-end: .5em;
    }

    .search-input-wrapper label {
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    .search-input-wrapper input {
        color: var(--dk-lgt-gray);
        width: 100%;
        background: var(--input-bg);
        line-height: 2;
    }
    
    .search-input-wrapper {
        flex-grow: 1;
        display: flex;
        align-items: center;
        padding-inline-start: 1em;
        border: 1px solid var(--input-border);
        border-bottom-left-radius: .325em;
        border-top-left-radius: .325em;
    }
    
    .search-btn-wrapper {
        height: 100%;
        border-block-start: 1px solid var(--btn-border);
        border-inline-end: 1px solid var(--btn-border);
        border-block-end: 1px solid var(--btn-border);
        border-top-right-radius: .325em;
        border-bottom-right-radius: .325em;
        transition: border-color 200ms ease,
            background-color 200ms ease;
    }
    
    .search-btn-wrapper button {
        height: 100%;
        padding: .5625rem 1.5rem;
        display: block;
        border: none;
        background: var(--btn-bg);
        color: var(--btn-color);
        border-top-right-radius: .325em;
        border-bottom-right-radius: .325em;
        transition: background 200ms ease,
            color 200ms ease;
    }
    
    .search-btn-wrapper button:hover,
    .search-btn-wrapper button:focus {
        background: var(--hover-color);
        color: var(--hover-text);
    }
    
    .search-btn-wrapper:has( button:hover, button:focus ) {
        border-color: var(--hover-color);
        background-color: var(--hover-color);
        color: var(--hover-text);
    }
    
    .main-inner {
        height: 100%;
        display: flex;
        /* position: relative; */
        
        .loader-wrapper {
            position: absolute;
            width: 100%;
            height: calc(100% - .75rem);
            inset: 0;
            display: flex;
            place-content: center;
        }
    }
    
    .main-inner .main-load {
        position: absolute;
        inset: 50% auto auto 50%;
        transform: translate(-50%,-50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5625rem;
        color: var(--placeholder-color);
        text-align: center;
        max-width: 27ch;
        font-weight: 600;
        
        & a {
            color: var(--text-color);
            
            & svg {
                transition: color 200ms ease;
            }
        }
        
        & a:hover svg,
        :focus-within svg {
            color: var(--hover-color);
        }
        
        & svg {
            font-size: 4.45rem;
        }
        
    }
    
    /* .main-load */
}

.loader {
    width: var(--border);
    aspect-ratio: 1;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    --y: calc((var(--size) * -0.5) + (var(--border) * 0.5));
    transform:
        rotate(0deg)
        translateY(var(--y));
    animation: spin var(--speed) infinite linear;
}

.loader::before {
    content: "";
    position: absolute;
    inset: calc(var(--border) * -0.5);
    border-radius: 50%;
    background: white;
    filter: blur(var(--blur));
    z-index: -1;
}

.loader::after {
    content: "";
    width: var(--size);
    aspect-ratio: 1;
    position: absolute;
    top: 0%;
    left: 50%;
    translate: -50% 0;
    background: conic-gradient(white, hsl(var(--hue), 100%, 70%), hsl(var(--hue), 100%, 10%), transparent 65%);
    border-radius: 50%;
    -webkit-mask: radial-gradient(
    transparent calc(((var(--size) * 0.5) - var(--border)) - 1px),
    white calc((var(--size) * 0.5) - var(--border)));
    mask: radial-gradient(
    transparent calc(((var(--size) * 0.5) - var(--border)) - 1px),
    white calc((var(--size) * 0.5) - var(--border)));
}

@keyframes spin {
  to { transform: rotate(-360deg) translateY(var(--y)); }
}

ul.movie-list {
    margin-block-start: 2.75em;
    display: grid;
    list-style: none;
    padding: 0;
    color: var(--text-color);
    
    & li {
        display: flex;
        gap: 1.25em;
        padding-block: 1.25em;
    }
    
    & li:not(:last-child) {
        border-bottom: 1px solid var(--movie-border);
    }
    
    & img {
        border-radius: .25em;
        width: 99px;
    }
    
    .movie-details {
        margin-block: auto;
        width: 100%;
    }
    
    .movie-title {
        display: flex;
        gap: .5rem;
        align-items: center;
        
        & svg {
            color: #FEC654;
            font-size: .875rem;
        }
        
        & p {
            font-size: .75rem;
        }
    }
    
    .movie-stat-wrapper {
        display: flex;
        margin-block: .75rem;
        font-size: .75rem;
        width: clamp(23.75rem,100%,28.75rem);
        justify-content: space-between;
        align-items: center;
        color: var(--movie-stats-color);
        
        & p:first-child {
            width: 3.75rem;
            margin-inline-end: 1.5em;
        }

        & p:nth-child(2) {
            flex-grow: 1;
        }

        & button {
            background: none;
            border: none;
            cursor: pointer;
            display: flex;
            color: var(--text-color);
            gap: .5em;
            align-items: center;
            
            & svg {
                font-size: 1rem;
                margin-block-start: -.125rem;
                transition: color 200ms ease;
            }
        }
        
        & button:focus-within,
        button:hover > svg,
        button:focus > svg {
            color: var(--hover-color);
        }
    }
    
    .movie-description {
        color: var(--movie-description-color);
    }
}

footer {
    position: fixed;
    inset: auto 0 0;
    text-align: center;
    padding-block: 1.5em;
    background-color: var(--text-color);
    color: var(--bg-color);
    
    & p {
        font-size: .75rem;
    }
}

@media (min-width: 71rem) {
    ul.movie-list {
        grid-template: max-content / repeat(2, 1fr);
        grid-auto-rows: max-content;

        & li {
            padding-inline-end: 1.5em;
        }

        & li:last-child {
            border-bottom: 1px solid var(--movie-border) !important;
        }
    }

    main .searchbar-wrapper {
        width: clamp(48rem,100%,68.75rem);
        margin-inline: auto;
    }
}